<p id="notice"><%= notice %></p>

<h1>Productos a la Venta</h1>


  
<div class="row">
  <% @products.each do |product| %>
  <div class="col-sm-3">
    <div class="card text-white bg-info">
      <div class="card-body">

        <h5 class="card-title"><%= product.nombre %></h5>
        <p class="card-text"><%= product.descripcion %></p>
        <p class="card-text">Valor: $<%= product.precio %></p>
        <div>
          Vende: <%= link_to product.user.nombre, user_path(product.user.id) %>
        </div><br>
        <div>
          <%= link_to 'Show', product, :class => "btn btn-light btn-sm" %>
          <%= link_to 'Edit', edit_product_path(product), :class => "btn btn-light btn-sm"  %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-light btn-sm"  %>
        </div><br>
         <div>
          <%= link_to 'Comprar', :class => "btn btn-light btn-sm" %>
        </div>
    
      </div>    
    </div><br>
  </div>
  <% end %>
</div>

