<p id="notice"><%= notice %></p>

<h1>Productos Vendidos</h1>


  
<div class="row">
  <% @products.each do |product| %>
  <div class="col-sm-3">
    <div class="card text-white bg-info">
      <div class="card-body">

        <h5 class="card-title"><%= product.nombre %></h5>
        <p class="card-text"><%= product.descripcion %></p>
        <p class="card-text">Valor: $<%= product.precio %></p>
        <div>
          Vendió: <%= link_to product.user.nombre, user_path(product.user.id) %>
        </div>
        <div>
          Compró: <%= link_to User.find(product.compra_id).nombre, user_path(product.compra_id) %>
        </div>
        <br>
        
    
      </div>    
    </div><br>
  </div>
  <% end %>
</div>

